{% extends 'base.html.twig' %}

{% block header_title %}
    Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !
{% endblock %}

{% block body %}

    <div class="text-center">
        <img class="img-fluid rounded" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
    </div>

{% endblock %}
