{% extends 'base.html.twig' %}

{% block header_title %}Créer une tâche{% endblock %}

{% block body %}
    <div class="row">
        {% include 'task/_form.html.twig' with {'id': null, 'path': 'task_create', 'task': null } %}
    </div>
{% endblock %}
