{% extends 'base.html.twig' %}

{% block header_title %}Modifier : <strong>{{ task.title }}</strong>{% endblock %}

{% block body %}
    <div class="row">
        {% include 'task/_form.html.twig' with {'id': task.id, 'path': 'task_edit', 'task': task} %}
    </div>
{% endblock %}
