{% extends "base.html.twig" %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Erreur</p>
        <p class="lead">
            Nous avons rencontré un problème
        </p>
        <a href="{{path('homepage')}}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}