{% extends 'base.html.twig' %}

{% block header_title %}Créer un utilisateur{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {% include 'user/_form.html.twig' with {'id': null, 'path': 'user_create' } %}
    </div>
{% endblock %}
